<ion-header no-border>
  <ion-navbar hideBackButton="true"></ion-navbar>
</ion-header>
<ion-content no-bounce>
  <h3 *ngIf="resume" class="title" translate>再次检查!</h3>
  <h3 *ngIf="!resume" class="title" translate>即将完成! 再次检查.</h3>
  <p class="top-description" translate>GOVPUB - 一个维公链综合应用平台.</p>
  <ion-list class="checkbox-list" no-lines>
    <ion-item>
      <ion-label>
        我确定我所使用的设备是安全的, 并且该设备属于我个人所有.
      </ion-label>
      <ion-checkbox [(ngModel)]="accepted.first"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        我明白当我的GOVPUB应用被删除或者重新安装后, 助记词是我恢复账户的唯一途径.
      </ion-label>
      <ion-checkbox [(ngModel)]="accepted.second"></ion-checkbox>
    </ion-item>
    <div *ngIf="hasEmail">
      <ion-item>
        <ion-label>
          <span translate>我希望GOVPUB将账户通知信息发送到我的电子邮箱地址 (同时, 我们还会将APP的更新以及GOVPUB的有趣新闻发送给你).</span>
        </ion-label>
        <ion-checkbox [(ngModel)]="accepted.third"></ion-checkbox>
      </ion-item>
      <!-- <a class="externalLink" (click)="openPrivacyPolicy()" translate>View Privacy Policy</a> -->
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="checkbox-list">
      <div *ngIf="accepted.first && accepted.second && accepted.third">
        <ion-item no-lines>
          <ion-label>
            我已阅读并同意该产品的使用协议
          </ion-label>
          <ion-checkbox [(ngModel)]="terms.accepted"></ion-checkbox>
        </ion-item>
        <a class="externalLink" (click)="openDisclaimer()" translate>GOVPUB使用协议</a>
      </div>
      <button ion-button class="button-standard"
        [disabled]="!accepted.first || !accepted.second || !accepted.third || !terms.accepted" (click)="confirm()">
        <span translate>确定</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>