<ion-header>
  <ion-navbar>
    <ion-title>账户备份</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
  <div *ngIf="deleted">
    <h1 class="deleted-title" translate>账户助记词不可用</h1>
    <ion-item-divider>
      您仍然可以从"导出账户"选项中导出
    </ion-item-divider>
  </div>

  <ion-slides pager="true" *ngIf="!deleted">
    <ion-slide>
      <div class="slide-container" *ngIf="mnemonicWords && mnemonicWords[0] || !credentialsEncrypted">
        <div>
          <div class="slide-title" translate>请务必认真写下这些助记词.</div>
          <div class="phrase-container" copy-to-clipboard="{{ wallet.network == 'testnet' ? keys?.mnemonic : null }}">
            <div class="phrase">
              <span *ngFor="let word of mnemonicWords">
                <span>{{word}}</span>
                <span *ngIf="useIdeograms">&#x3000;</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-absolute">
        <div translate class="footer-text">下一步,我们将检查您是否已经记录好这些助记词.</div>
        <button *ngIf="currentIndex == 0" ion-button class="button-standard" [disabled]="credentialsEncrypted || error"
          (click)="slideNext(true)">
          我已经保管好这些助记词
        </button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-container">
        <div class="slide-body">
          <div class="slide-title" translate>助记词校验.</div>
          <div class="phrase-container">
            <div class="phrase">
              <button ion-button outline *ngFor="let customWord of customWords; let i = index"
                (click)="removeButton(i, customWord)">{{customWord.word}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-absolute">
        <div *ngIf="!selectComplete">
          <div class="slide-title" translate>请按正确的顺序点击下面的助记词.</div>
          <div class="words">
            <button ion-button *ngFor="let shuffledWord of shuffledMnemonicWords; let i = index"
              (click)="addButton(i, shuffledWord)" [disabled]="shuffledWord.selected">{{shuffledWord.word}}</button>
          </div>
        </div>
        <div *ngIf="selectComplete">
          <div class="footer-text" translate>确认无误?</div>
          <button *ngIf="currentIndex == 1 && selectComplete" ion-button class="button-standard"
            (click)="slideNext(false)">
            确定
          </button>
          <button ion-button clear class="button-standard" (click)="setFlow()">
            清除
          </button>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="mnemonicHasPassphrase">
      <div class="slide-container">
        <div class="slide-body">
          <div class="slide-title" translate>在验证助记词之前, 请输入账户密码.</div>
          <ion-item>
            <ion-label stacked translate>密码</ion-label>
            <ion-input type="password" id="password" [(ngModel)]="password" autocapitalize="off" spellcheck="false">
            </ion-input>
          </ion-item>
          <div class="slide-title">
            <span class="assertive" translate>该助记词是通过密码创建的. 恢复账户需要同时验证助记词和密码.</span>
          </div>
        </div>
      </div>

      <div class="bottom-absolute">
        <button *ngIf="currentIndex == 2" [disabled]="!password" ion-button class="button-standard"
          (click)="finalStep()">
          确定
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>